<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="mainheader">
        <a href="/"><img src="/img/logo.png" class="logo"></a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/meals/all">Meals</a></li>
                <li><a href="/user/login">Login</a></li>
                <li><a href="/user/registration">Register</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>Valhalla Feasts 2020</p>
        <img src="/img/facebookIcon.png" alt="facebookIcon">
        <img src="/img/instagramIcon.png" alt="instagramIcon">
        <img src="/img/twitterIcon.png" alt="twitterIcon">
    </footer>
</body>

</html>