<div class="userDashboardContent">
    <h3>Welcome {{user.fname}}, {{user.lname}}!</h3>
    <p>This is the admin dashboard.</p>
    <p>As you can see, this page is still under construction, but come back soon for updates (hopefully)!</p>
</div>