<div class="loginRegister">
    <h2>Login</h2>
    {{#each errors}}
        <div class="errors">
            <p>{{this}}</p>
        </div>
    {{/each}}
    <form action="/userLogin" method="POST">
        <label for="email">Email:</label><br>
        <input type="email" id="logEmail" name="logEmail"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="logpsw" name="logpsw"><br><br>

        <div class="submitButton">
            <input type="submit" id="logSubmit" value="Login">
        </div>
    </form>
</div>