<div class="loginRegister">
    <h2>Login</h2>
    <form action="/userLogin" method="POST">
        <label for="email">Email:</label><br>
        <input type="email" id="logEmail" name="logEmail" value={{email}}><br>
        {{#each emailError}}
        <div class="errors">
            <p>{{this}}</p>
        </div>
        {{/each}}
        <label for="password">Password:</label><br>
        <input type="password" id="logpsw" name="logpsw" value={{psw}}><br>
        {{#each pswError}}
        <div class="errors">
            <p>{{this}}</p>
        </div>
        {{/each}}
        <br>
        <br>
        <div class="submitButton">
            <input type="submit" id="logSubmit" value="Login">
        </div>
    </form>
</div>