<div class="loginRegister">
    <h2>Login</h2>
    <form>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password">
    </form>
    <button>Submit</button>
</div>