<div class="dashboardContent">
    <h2>Welcome {{user.fname}} {{user.lname}}!</h2>
    <p>This is the user dashboard.</p>
    <h4>Click here to view your shopping cart.</h4>
    <form method="get" action="/user/cart">
        <input class="adminButton" type="submit" value="Shopping Cart" />
    </form>
</div>