@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
body {
    background-color: #222222;
    font-family: 'MedievalSharp', cursive;
    color: #DDD;
}

.logo {
    width: 12%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1%;
    padding-top: 1%;
}

nav {
    position: relative;
    text-align: center;
    font-family: georgia;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}

nav ul li {
    float: left;
}

li a {
    display: flex;
    color: #CCC;
    align-items: center;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

li a:hover {
    background-color: #444;
}

.heroSection {
    display: block;
}

.heroSection img {
    position: relative;
    display: inline-block;
    width: 100%;
}

.heroTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    text-align: center;
    color: white;
    font-weight: bold;
}

.homeContentSection {
    color: #DDD;
}

.homeContentTitle {
    padding-top: 2%;
    text-align: center;
    font-size: 3em;
}

.homePerks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 15%;
    margin-right: 15%;
}

.perkCard {
    margin: 2%;
    font-size: 2.2em;
    text-align: center;
}

.perkCard img {
    width: 75%;
    margin: 5%
}

.featuredMealsTitle {
    color: #CCC;
    text-align: center;
}

.mealsTitle {
    font-size: 44pt;
    color: #DDD;
    text-align: center;
    margin-bottom: -2%;
}

.mealsSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 3%;
}

.mealCard {
    background-color: #AAA;
    margin: 7%;
    font-size: 14pt;
    text-align: center;
    color: #222;
}

.mealCard .price {
    font-weight: bold;
    font-size: 16pt;
}

.mealCard img {
    width: 75%;
    margin: 5%;
}

.loginRegister {
    margin: 1% auto;
    width: 30%;
    padding: 2%;
    min-height: 22em;
    background-color: #111;
}

.loginRegister h2 {
    text-align: center;
}

.submitButton {
    text-align: center;
}

.errors {
    color: red;
    font-size: 0.8em;
}

.loginRegister #fname, #lname, #logEmail, #regEmail, #logpsw, #regpsw {
    width: 98%;
}

.registration {
    padding-left: 50%;
    padding-right: 50%;
}

.dashboardContent {
    text-align: center;
}

.adminButtonContainer {
    width: 35%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    padding-bottom: 3%;
}

.adminButton {
    text-align: center;
    height: 3em;
    width: 8em;
    font-size: 1em;
    margin-bottom: 2%;
}

.mealForm {
    margin: 1% auto;
    width: 30%;
    padding: 2%;
    min-height: 22em;
    background-color: #111;
}

.mealForm h2 {
    text-align: center;
}

.mealForm #addMealName, #addMealPrice, #addMealDesc, #editMealName, #editMealPrice, #editMealDesc {
    width: 98%;
}

.editImg {
    width: 100%;
    text-align: center;
}

.editImg img {
    width: 80%;
}

.radioList {
    text-align: center;
}

.imageList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.imageList img {
    width: 95%;
    margin: 2%;
}

.mealDetails {
    display: flex;
    justify-content: center;
}

.detailCard {
    width: 80%;
    background-color: #111;
    height: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.detailCard p {
    font-size: 2em;
}

.detailCard .price {
    font-size: 4em;
}

.detailCard img {
    float: left;
    width: 50%;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio]+img {
    cursor: pointer;
}

[type=radio]:checked+img {
    outline: 2px solid #f00;
}

.featuredCheck {
    text-align: center;
}

.cartTitle {
    text-align: center;
}

.shoppingCart {
    text-align: center;
    background-color: #111;
    margin: 2% 30%;
}

table.orderTable {
    text-align: center;
    margin: 3%;
    background-color: #111;
    font-size: 1.5em;
}

table.orderTable td {
    width: 10%;
}

table.orderTable img {
    max-width: 100%;
}

.orderConfirmed {
    text-align: center;
}

footer {
    background-color: #111;
    padding-top: 1%;
    text-align: center;
    font-size: 1em;
}

footer img {
    width: 2.5%;
    padding: 0.5%;
}

@media (orientation: portrait) {
    .logo {
        width: 50%;
    }
    .homeContentTitle {
        font-size: 2em;
    }
    .homePerks {
        margin-left: 0%;
        margin-right: 0%;
    }
    .perkCard {
        font-size: 1.6em;
    }
    .perkCard img {
        margin: 0;
    }
    .mealsSection {
        grid-template-columns: 1fr 1fr;
    }
    .loginRegister {
        width: 75%;
    }
    .mealForm {
        width: 75%;
    }
    .adminButtonContainer {
        width: 90%;
    }
    .detailCard img {
        float: none;
        width: 100%;
    }
    .shoppingCart {
        margin: 2% 10%;
    }
    footer img {
        width: 10%;
        padding: 2%;
    }
}