@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
body {
    background-color: #222222;
    font-family: 'MedievalSharp', cursive;
    color: #DDD;
}

.logo {
    width: 12%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1%;
    padding-top: 1%;
}

nav {
    position: relative;
    text-align: center;
    font-family: georgia;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}

nav ul li {
    float: left;
}

li a {
    display: flex;
    color: #CCC;
    align-items: center;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

li a:hover {
    background-color: #444;
}

.heroSection {
    display: block;
}

.heroSection img{
    position: relative;
    display: inline-block;
    width: 100%;
}

.heroTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
}

.homeContentSection {
    color: #DDD;
}

.homeContentTitle {
    padding-top: 2%;
    text-align: center;
    font-size: 3em;
}

.homePerks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 15%;
    margin-right: 15%;
}

.perkCard {
    margin: 2%;
    font-size: 2.2em;
    text-align: center;
}

.perkCard img {
    width: 75%;
    margin: 5%
}

.featuredMealsTitle {
    color: #CCC;
    text-align: center;
}

.mealsTitle {
    font-size: 44pt;
    color: #DDD;
    text-align: center;
    margin-bottom: -2%;
}

.mealsSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 3%;
}

.mealCard {
    background-color: #AAA;
    margin: 7%;
    font-size: 14pt;
    text-align: center;
    color: #222;
}

.mealCard .price {
    font-weight: bold;
    font-size: 16pt;
}

.mealCard img {
    width: 75%;
    margin: 5%;
}

.loginRegister {
    margin: 1% auto;
    width: 30%;
    padding: 2%;
    min-height: 22em;
    background-color: #111;
}

.loginRegister h2 {
    text-align: center;
}

.submitButton {
    text-align: center;
}

.errors {
    color: red;
    font-size: 0.8em;
}

.loginRegister #fname, #lname, #logEmail, #regEmail, #logpsw, #regpsw {
    width: 98%;
}

.registration {
    padding-left: 50%;
    padding-right: 50%;
}

.userDashboardContent {
    text-align: center;
}

footer {
    background-color: #111;
    padding-top: 1%;
    text-align: center;
    font-size: 1em;
}

footer img {
    width: 2.5%;
    padding: 0.5%;
}

@media (orientation: portrait) {
    .logo{
        width: 50%;
    }
    .homeContentTitle {
        font-size: 2em;
    }
    .homePerks {
        margin-left: 0%;
        margin-right: 0%;
    }
    .perkCard {
        font-size: 1.6em;
    }
    .perkCard img {
        margin: 0;
    }
    .mealsSection {
        grid-template-columns: 1fr 1fr;
    }
    .loginRegister{
        width: 75%;
    }
    footer img {
        width: 10%;
        padding: 2%;
    }
}